<div class="container">
	<div class="row">
		<div class="col">
			<h1>Treehouse jQuery Plugins</h1>
			<h2>List of plugins</h2>
			<ol>
				<li>jcalculator</li>
				<li>jquery adaptive modal</li>
				<li>jquery listnav - to list itms by the letter</li>
				<li>vide - to add video to a page</li>
				<li>lightbox2 - can have a group of photos</li>
				<li>jquery UI</li>
			</ol>
			<h2>looking for jquery plugins</h2>
			<p>sitepoint jquery plugins</p>
			<p>unheap</p>
			<p>look for good documentation, actively developed, responsive, </p>
		</div>		
	</div>
	<div class="row">
		<h2>They showed how to use the ANIMSITION plugin</h2>
		<h2>They showed how to use the STICKY js plugin</h2>
		<h2>They showed how to use the CAROUSEL SLICK plugin</h2>
	</div> <!-- row -->
</div>